:root {
  --primary-1: #F4CE14;
  --primary-2: #495E57;
  --secondary-1:#EE9972;
  --secondary-2: #FBDABB;
  --secondary-3: #EDEFEE;
  --secondary-4: #333333;

}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  font-size: inherit;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  max-width: 450px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 1.25rem;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  grid-column: 1 / 3;
}

nav {
  grid-column: 3 / -1;
}

.br {
  border-radius: 1rem;
}

.display-title {
  font-family: 'Markazi Text', serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primary-1)
}

.sub-title {
  font-family: 'Markazi Text', serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--secondary-3)
}

.lead-text {
  font-family: 'Karla', sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
}

.section-title {
  font-family: 'Karla', sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
}

.section-categories {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 800;
}

.card-title {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

p,
.paragraph {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.highlighted {
  font-family: 'Karla', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.call-to-action {
  background-color: var(--primary-2);
}

.btn {
  background-color: #F4CE14;
  border-radius: 1rem;
  border: none;
  padding: .5rem 1.2rem;
}

.flex {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-flow: row wrap;
}

.hero-img {
  object-fit: cover;
  object-position: 0 -220px;
}

.hero-content-container {
  grid-column: 1 / 7;
}

.hero-img-container {
  grid-column: 8 / -1;
  max-height: 40vh;
  overflow: hidden;
  border-radius: 1rem;
}

.call-to-action {
  padding: 2rem 0;
}

.call-to-action p {
  margin-bottom: 1rem;
}

.specials {
  padding: 2rem 0;
}
.specials h1 {
  grid-column: 1 / 8;
}

.price {
  color: var(--secondary-1);
}

.specials button {
  grid-column: 11 / -1;
}

.card {
  grid-column: span 4;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--secondary-3);
}

.card-bottom {
  padding: 1rem;
}

.card-description {
  color: var(--primary-2);
}

.card-bottom h3,
.card-description {
  margin: .5rem 0;
}



.icon {
  width: fit-content;
  display: initial;
}

.order-now-comp {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: end;
}
